REACT_APP_GRAPHQL_ENDPOINT_MSTABLE_GOV=https://api.thegraph.com/subgraphs/name/mstable/mstable-governance-kovan

# Not actively maintained at the moment
REACT_APP_GRAPHQL_ENDPOINT_BALANCER=https://api.thegraph.com/subgraphs/name/balancer-labs/balancer-kovan

# This is mainnet: no Uniswap Ropsten subgraph is actively maintained at the moment
REACT_APP_GRAPHQL_ENDPOINT_UNISWAP=https://api.thegraph.com/subgraphs/name/ianlapham/uniswapv2

REACT_APP_GRAPHQL_ENDPOINT_BLOCKS=https://api.thegraph.com/subgraphs/name/blocklytics/kovan-blocks
REACT_APP_MTA_ADDRESS=0xcda64b5d3ca85800ab9f7409686985b59f2b9598
REACT_APP_CHAIN_ID=42
REACT_APP_PORTIS_DAPP_ID=KEY_GOES_HERE
REACT_APP_FORTMATIC_API_KEY=KEY_GOES_HERE
REACT_APP_SQUARELINK_CLIENT_ID=KEY_GOES_HERE
REACT_APP_RPC_API_KEY=YOUR_INFURA_KEY_GOES_HERE
REACT_APP_RPC_URL=https://kovan.infura.io/v3/
REACT_APP_SENTRY_DSN=